{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<title>Document</title>
	
</head>
<body>
	{% block product %}
	{% for i in product %}
	{% if i.photo %}
	<article>
		<a href="" class="image"><img src="{{i.photo.url}}" alt="" /></a>
		<h3>{{i.titre}}</h3>
		<p>{{i.slogan}}</p>
		<ul class="actions">
			<li><a href="read/{{i.id}}" class="button">VOIR +</a></li>
		</ul>
	</article>
	{% else %}
	<p>no image</p>
	{%endif%}
	{%endfor%}
	{%  endblock %}
</body>
</html>