{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block product %}
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
  
      <center> <p  style="width:95%;"> {{object.texte}}</p></center>
       <p><img src='{{object.photo.url}}' style="width:30%;margin-left:10%;"></p>
       
      
       </form>
  
	{%  endblock %}

</body>
</html>